.cr-card{
    width: 190px;
    height: 248px;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    background: #3B3B3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cr-img{
    width: 120px;
    padding-bottom: 20px;
}

.cr-num{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #858584;
    font-family: Space Mono;
}

.cr-p-main{
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}
.cr-p{
    font-family: Space Mono;
    font-size: 16px;
}

.cr-s{
    font-family: Work Sans;
    color: #858584;
}
